*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
}

.container{
    width: 80%;
    margin: auto; 
}

.nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


li{
    list-style: none;
    margin-right: 10px;
}

.container-destra{
    display: flex;
}

ul{
    display: flex;
    color: white;
    vertical-align: middle;
    padding-top: 10px;
}

#bottone-menu{
    border-radius: 40%;
    border: none;
    padding: 0 10px;
}

.first{
    margin-top: 40px;
    
}

.container-due-colonne{
    width: 100%;
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
}

.c-i-s{
    display: flex;
    flex-basis: 66%;
    background-color: lightblue;
}

.img-phone{
    height: 200px;
    padding-right: 100px;
    margin-right: 10px;
    padding-top: 20px;
    background-color: lightblue;
}

.c-i-r{
    flex-basis: 33%;
    text-align: center;
    background-color: lightblue;
}

.container-tre-colonne{
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

.col{
    width: calc(100% / 3);
    text-align: center;
    background-color: lightblue;
    margin: 0 5px;
}

.t-first-section{
    padding-bottom: 30px;
}

.text-first-section{
    padding-bottom: 30px;
}

.icon-first{
    padding-top: 20px;
    padding-bottom: 20px;
}

#second{
    background-color: plum;
}

.container-second-section{
    width: 60%;
    margin: auto;
    display: flex;
}

.col2{
    width: calc(100% / 2);
}

.img2-testo{
    padding-top: 40px ;
    padding-bottom: 20px;
}

.img2{
    height: 200px;
    padding-bottom: 20px;
    text-align: left;
}

.img3-testo{
    width: 300px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}

.img3{
    height: 200px;
    padding-bottom: 20px;

}

.titolo-second-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-third-section{
    text-align: center;
    padding: 20px 0;
}

.testimonial{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    background-color: plum;
    border-radius: 5%;
    margin-top: 10px;
}

.img-third{
    height: 100px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.testimonial{
    padding: 20px;
    align-items: center;
}

.paragrafo-third{
    color: white;
}
































/*PER MOBILE*/


@media screen and (max-width:480px){
    header{
        background-color: blue;
        width: 100%;
    }
   
    .container{
        width: 80%;
        margin: auto; 
        width: 100%;
    }
   
    .container-destra{
        display: none;
    }


    .container-due-colonne{
        display: block;
    }

    .c-i-s {
        display: block;
        padding: 0 30px;
    }


    .img-phone {
        height: 250px;
        width: 100%;
       padding: 0 20%;
    }

    .c-i-r {
        width: 100%;
        padding: 0 30px;
    }

    .container-tre-colonne{
        display: flex;
        flex-direction: column;
    }

    .col{
        width: 100%;
        padding: 0 30px;
        text-align: center;
    }
}











/*PER TABLET*/
@media screen and (max-width: 720px){
    header{
        background-color: blue;
        width: 100%;
    }
   
    .container{
        width: 80%;
        margin: auto; 
        width: 100%;
    }
   
    .container-destra{
        display: none;
    }

    .c-i-s{
        display: block;
    }
}