*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
}

.container{
    width: 80%;
    margin: auto; 
}

.nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


li{
    list-style: none;
    margin-right: 10px;
}

.container-destra{
    display: flex;
}

ul{
    display: flex;
    color: white;
    vertical-align: middle;
    padding-top: 10px;
}

#bottone-menu{
    border-radius: 40%;
    border: none;
    padding: 0 10px;
}

.first{
    margin-top: 40px;
    
}

.container-due-colonne{
    width: 100%;
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
}

.c-i-s{
    display: flex;
    flex-basis: 66%;
    background-color: lightblue;
}

.img-phone{
    height: 200px;
    padding-right: 100px;
    margin-right: 10px;
    padding-top: 20px;
    background-color: lightblue;
}

.c-i-r{
    flex-basis: 33%;
    text-align: center;
    background-color: lightblue;
}

.container-tre-colonne{
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

.col{
    width: calc(100% / 3);
    text-align: center;
    background-color: lightblue;
    margin: 0 5px;
}

.t-first-section{
    padding-bottom: 30px;
}

.text-first-section{
    padding-bottom: 30px;
}

.icon-first{
    padding-top: 20px;
    padding-bottom: 20px;
}

#second{
    background-color: plum;
    margin-top: 30px;
}

.container-second-section{
    width: 60%;
    margin: auto;
    display: flex;
}

.col2{
    width: calc(100% / 2);
}

.img2-testo{
    padding-top: 40px ;
    padding-bottom: 20px;
}

.img2{
    height: 200px;
    padding-bottom: 20px;
    text-align: left;
}

.img3-testo{
    width: 300px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
}

.img3{
    height: 200px;
    padding-bottom: 20px;

}

.titolo-second-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-third-section{
    text-align: center;
    padding: 20px 0;
}

.testimonial{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    background-color: plum;
    border-radius: 5%;
    margin-top: 10px;
}

.img-third{
    height: 100px;
    width: 200px;
    border-radius: 50%;
    /*overflow: hidden;*/
    margin-right: 30px;
}

.testimonial{
    padding: 20px;
    align-items: center;
}

.paragrafo-third{
    color: white;
}

.titolo-fourth{
    text-align: center;
}

.table-1{
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.col-t{
    width: calc(100% / 3);
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 5%;
    margin: 10px;
}

.fourth{
    margin-top: 30px;
    background-color: plum;
    color: white;
}

.quinta-section{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

.colonna-sinistra{
    flex-basis: 60%;
    padding: 40px;
}

.colonna-destra{
    flex-basis: 35%;
    padding: 40px;
}

.quinta-section{
    margin-top: 40px;
}

.img-5{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.titolo-5{
    width: 100px;
}

.sixth{
    text-align: center;
    background-color: plum;
}

.pad-six{
    padding: 10px;
}

.pad-six1{
    display: flex;
    margin: auto;
    width: 30%;
    text-align: center;
    padding-bottom: 10px;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;    
    
}

.container-footer{
    width: 40%;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.p-footer-uno{
    padding: 20px 0;
    text-align: center;
}



























/*PER MOBILE*/


@media screen and (max-width:480px){
    header{
        background-color: blue;
        width: 100%;
    }
   
    .container{
        width: 80%;
        margin: auto; 
        width: 100%;
    }
   
    .container-destra{
        display: none;
    }


    .container-due-colonne{
        display: block;
    }

    .c-i-s {
        display: block;
        padding: 0 30px;
    }


    .img-phone {
        height: 250px;
        width: 100%;
       padding: 0 20%;
    }

    .c-i-r {
        width: 100%;
        padding: 0 30px;
    }

    .container-tre-colonne{
        display: flex;
        flex-direction: column;
    }

    .col{
        width: 100%;
        padding: 0 30px;
        text-align: center;
    }

    .container-second-section {
        width: 100%;
        margin: auto;
        display: flex; 
        border-radius: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #second {
        background-color: plum;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .img2-testo{
        padding-top: 20px ;
        padding-bottom: 10px;
    }

    .img2 {
        height: 200px;
        
        text-align: center;
        padding-bottom: 20px;
    }
    
    .img3-testo {
        margin-top: 50px;
        margin-bottom: 30px;
    }


    .testimonial {
        display: flex;
        margin: auto;
        justify-content: center;
        flex-direction: column;
        margin-top: 15px;
    }

    .img-third {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden; 
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .paragrafo-third {
        text-align: center;
    }

    .fourth {
        margin-top: 30px;
    }

    .titolo-fourth {
        margin-top: 20px;
        text-align: center;
    }

    .table-1 {
        width: 100%;
        margin: auto;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .quinta-section {
        display: flex;
        margin: auto;
        width: 100%;
        flex-direction: column;
    }

    .img-5 {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .titolo-5 {
        width: 300px;
        font-size: 2.0rem;
        margin: 15px 0;
    }
}







/*PER TABLET*/
@media screen and (max-width:768px){
    header{
        background-color: blue;
        width: 100%;
    }
   
    .container{
        width: 90%;
        margin: auto; 
        /*width: 100%;*/
    }
   
    .container-destra{
        display: none;
    }

    .c-i-s{
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    .container-second-section {
        width: 100%;
        margin: auto;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .img2-testo {
        width: 90%;
        padding-top: 40px;
        padding-bottom: 20px;
        color: white;
    }

    .img2 {
        width: 100%;
        height: 500px;
        padding-bottom: 20px;
        text-align: left;
        text-align: center;
    }

    .img3-testo {
        width: 90%;
        background-color: white;
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 10px;
        border-radius: 5%;
    }

    .container-third-section {
        text-align: center;
        padding: 20px 0;
        width: 90%;
    }

    .testimonial {
        padding: 20px;
        align-items: center;
        width: 90%;
    }

}



